.create-post{
    height: 100px;
    background-color: #002945;
    margin: 12px;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    width: 60%;
}

.create-post-input{
    width: 50%;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #00111C;
    background-color: #00111C;
    color: #e5e5e5;
}

.create-post-button{
    padding: 15px;
    background-color: #00111C;
    color: #fff;
    border-radius: 4px;
    border: 1.5px solid #00111C;
    cursor: pointer;
}

.create-post-input-textarea{
    width: 50%;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #00111C;
    background-color: #00111C;
    color: #e5e5e5;
    
}

@media screen and (max-width: 720px) {
    .create-post{
        width: 96%;
    }

    .create-post-input{
        width: 80%;
    }
}