.userfeed{
    background-color: #002945;
    /* height: 1000px; */
    margin: 12px;
    border-radius: 4px;
    /* margin-left: 0; */
    width: 60%;
}

@media screen and (max-width: 720px) {
    .userfeed{
        width: 96%;
    }
}