.user-card-on-hover{
    position: absolute;
    width: 250px;
    padding: 12px;
    border-radius: 4px;
    background-color: var(--primary-bg-color);
    z-index: 1000;
    color: var(--text-color);
    opacity: 100000;
    left: 210px;
    border: 1px solid var(--text-color);
}

.user-card-on-hover-name-username{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.user-card-on-hover-name-username>img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.user-card-on-hover-follow-unfollow{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    gap: 12px;
}

.user-card-on-hover-follow-unfollow > span{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    background-color: var(--secondary-bg-color);
    padding: 6px;
    border-radius: 4px;
}